A:link {
	COLOR: #ee0000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #bb0000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #909090
}
#back {
	BACKGROUND-COLOR: #373437; COLOR: #200000
}
#back2 {
	COLOR: #200000
}
#link {
	COLOR: #ff7755; FONT-FAMILY: Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold; LINE-HEIGHT: 12pt; TEXT-DECORATION: none
}
#deadlink {
	COLOR: #a05533; FONT-FAMILY: Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold; LINE-HEIGHT: 12pt; TEXT-DECORATION: none
}
#tablehead {
	BACKGROUND-COLOR: #202020; COLOR: #909090; FONT-FAMILY: Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#tablecontent {
	BACKGROUND-COLOR: #252525; COLOR: #aa0000; FONT-FAMILY: Arial; FONT-SIZE: 10pt; LINE-HEIGHT: 12pt; TEXT-DECORATION: none
}
#menu {
	COLOR: #ff0000; FONT-FAMILY: Arial; FONT-SIZE: 10pt; LINE-HEIGHT: 12pt; TEXT-DECORATION: none
}
#author {
	BACKGROUND-COLOR: #404040; COLOR: #909090; FONT-FAMILY: Arial; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
#nt {
	COLOR: #ff0000; FONT-FAMILY: Arial; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
#th2 {
	COLOR: #808080; FONT-FAMILY: Arial; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
#ff {
	BACKGROUND-COLOR: #800000; BORDER-BOTTOM-COLOR: #800000; BORDER-LEFT-COLOR: #800000; BORDER-RIGHT-COLOR: #800000; BORDER-TOP-COLOR: #800000; COLOR: #ff0000; FONT-FAMILY: Arial; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
#fb {
	BACKGROUND-COLOR: #707070; BORDER-BOTTOM-COLOR: #808080; BORDER-LEFT-COLOR: #808080; BORDER-RIGHT-COLOR: #808080; BORDER-TOP-COLOR: #808080; COLOR: #cccccc; FONT-FAMILY: Arial; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
#lg {
	BACKGROUND-COLOR: #440000; COLOR: #aa0000; FONT-FAMILY: Arial; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
#wg {
	BACKGROUND-COLOR: #252525; COLOR: #656565; FONT-FAMILY: Arial; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
#dg {
	BACKGROUND-COLOR: #303030; COLOR: #656565; FONT-FAMILY: Arial; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
#links {
	COLOR: #00ff00; FONT-FAMILY: Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#infotext {
	COLOR: #ff0000; FONT-FAMILY: Arial; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
#pic {
	COLOR: #656565; FONT-FAMILY: Arial; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
